<div class='login_body'>
	<% if notice %><div class='notice'>
		<strong>
			发生了错误!
		</strong>
		<%= notice %>
	</div>
	<% end %>
	<%= form_tag sessions_path, remote: true, class: 'form-login', role: 'form' do %>
	  <h2 class="form-login-heading">请登陆</h2>
	  <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: '电子邮箱' %>
	  <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: '密码' %>
	  <label class="checkbox">
	    <input type="checkbox" value="remember-me"> 记住我
	  </label>
	  <p class="button"><%= submit_tag 'Login', class: 'btn btn-lg btn-primary btn-block' %></p>
	<% end %>
</div>