<%= form_for(@menu) do |f| %> 
<% if @menu.errors.any? %>  
<div id="error_explanation">
  <h2>
    <%= pluralize(@menu.errors.count, "error") %>prohibited this menu from being saved:</h2>
  <ul>
    <% @menu.errors.full_messages.each do |msg| %>  
    <li>
      <%= msg %></li>
    <% end %></ul>
</div>
<% end %>
  <div class='row'>
    <div class='col-md-4 form-part'>
      <div class="field">
        <%= f.text_field :name, class: 'form-control', placeholder: "菜单名（必填）" %></div>
      <div class="field">
        <%= f.text_area :description, class: 'form-control', placeholder: "菜单描述（选填）" %></div>
      <h4>添加菜谱</h4>
        <span>填入饕餮网的菜谱地址来添加菜谱</span>
        <div class="field">
          <input type='text' name='cookbook_url_0', class='form-control'>
        </div>
        <div class="field">
          <input type='text' name='cookbook_url_1', class='form-control'>
        </div>
        <div class="field">
          <input type='text' name='cookbook_url_2', class='form-control'>
        </div>
        <div class="field">
          <input type='text' name='cookbook_url_3', class='form-control'>
        </div>
    </div>
  </div>
  <%= submit_tag 'Create menu', class: 'btn btn-lg btn-primary', role: 'button' %>
<% end %>