<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='row'>
  <div class='name_description col-md-1'>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="category_tags col-md-1">
    <% FoodCategory.all.each do |category| %>
      <button type="button" class="btn btn-default"><%= category.name %></button>
    <% end %>
  </div>
</div>
<%= submit_tag 'Create Food', class: 'btn btn-lg btn-primary', role: 'button' %>
<% end %>
