<div class='container'>
  <h2>精选  美食</h2>
  <hr class="title-divider">
  <div class="row">
    <% 4.times do |tmp| %>
    <div class="col-md-3">
      <% @foods.each do |food| %>
        <% if (food.id - @foods.first.id) % 4 == tmp %>
          <div class='food' id="food_<%= food.id %>">
            <div class='food_img'>
              <%= image_tag food.image_url %></div>
            <div class='food_info'>
              <div class='food_name'><strong><%= link_to food.name, food %></strong></div>
              <div>
                简介：
                <%= food.description %></div>
              <% categories = FoodFoodCategoryship.find_all_by_food_id(food.id) %>
              <% users = UserFoodship.find_all_by_food_id(food.id) %>
              <% if categories.count != 0 %>
              <div>
                标签：
                <% categories.each do |food_categoryship| %>
                <%= FoodCategory.find(food_categoryship.food_category_id).name %>
                <% end %></div>
              <% end %>
              <% if users.count != 0 %>
              <div>
                作者：
                <% users.each do |user_foodship| %>
                <%= User.find(user_foodship.user_id).name %>
                <% end %></div>
              <% end %>
              <!-- user info -->
              <% if food.main_user %>
                <div class='food_main_user_info'>
                  <%= render food.main_user %> 发布于 <%= time_ago_in_words food.created_at %> ago.
                </div>
              <% end %>
              <!-- food like -->
              <div class='food_like_comment_div'>
                <%= render partial: 'food_like_comment', locals: { food: food } %>
              </div>
              <!-- comments -->
              <div class= 'list_comments', id="list_comments_<%= food.id %>">
                <div id="existing_comments_<%= food.id %>" >
                  <%= render food.comments %>
                </div>
              </div>
              <div class="new_comment new_comment_<%= food.id %>">
                <%= form_for [food, Comment.new],
                  html: { id: "new_comment_on_#{food.id}" },
                  remote: true do |f| %>
                  <p>
                    <%= f.text_area :content, class: 'form-control', rows: 5 %></p>
                  <p>
                    <%= submit_tag '评论', class: 'btn', role: 'button' %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= link_to '新美食', new_food_path, class: 'btn btn-lg btn-primary', role: 'button' %></div>